# Additional Questions

### Problem 1 - A lifetime of temperatures

In [4]:
import numpy as np
import pandas as pd
from numpy import random as rand
from matplotlib import pyplot as plt

data = pd.read_csv('payems.csv')
data.head()

     DATE  PAYEMS
0  7/1/29   31294
1  7/1/30   29577
2  7/1/31   27027
3  7/1/32   24216
4  7/1/33   24132

In [9]:
import quandl


rec_ind = quandl.get("FRED/USREC")

            Value
Date
1854-12-01    1.0
1855-01-01    0.0
1855-02-01    0.0
1855-03-01    0.0
1855-04-01    0.0
1855-05-01    0.0
1855-06-01    0.0
1855-07-01    0.0
1855-08-01    0.0
1855-09-01    0.0
1855-10-01    0.0
1855-11-01    0.0
1855-12-01    0.0
1856-01-01    0.0
1856-02-01    0.0
1856-03-01    0.0
1856-04-01    0.0
1856-05-01    0.0
1856-06-01    0.0
1856-07-01    0.0
1856-08-01    0.0
1856-09-01    0.0
1856-10-01    0.0
1856-11-01    0.0
1856-12-01    0.0
1857-01-01    0.0
1857-02-01    0.0
1857-03-01    0.0
1857-04-01    0.0
1857-05-01    0.0
...           ...
2015-11-01    0.0
2015-12-01    0.0
2016-01-01    0.0
2016-02-01    0.0
2016-03-01    0.0
2016-04-01    0.0
2016-05-01    0.0
2016-06-01    0.0
2016-07-01    0.0
2016-08-01    0.0
2016-09-01    0.0
2016-10-01    0.0
2016-11-01    0.0
2016-12-01    0.0
2017-01-01    0.0
2017-02-01    0.0
2017-03-01    0.0
2017-04-01    0.0
2017-05-01    0.0
2017-06-01    0.0
2017-07-01    0.0
2017-08-01    0.0
2017-09-01    0.0
2017-10-01    0.0
2017-11-01    0.0
2017-12-01    0.0
2018-01-01    0.0
2018-02-01    0.0
2018-03-01    0.0
2018-04-01    0.0

[1961 rows x 1 columns]